
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body style="background-color: rgb(19, 24, 13);">
    <center><h1 style="color: azure;">Adipurush</h1>
   
    <marquee behavior="" direction=""><img src="{% static 'images/1.jpg' %}" alt="Funny Image" height="300px" width="300px">
    <img src="{% static 'images/2.jpg' %}" alt="Funny Image" height="300" width="300px">
    <img src="{% static 'images/Adipurush.jpg' %}" alt="Funny Image" height="300px" width="300px"></marquee>
    <h1 style="color: bisque;">JAI SRI RAM</h1>

    </center>


</body>
</html>
